@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>
<PageTitle>iSpindelBlazorWeb</PageTitle>
@Body
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - FRB Strategic Software Ltd - <a asp-area="" asp-controller="Home" asp-action="About">About</a>
    </div>
</footer>