@inherits LayoutComponentBase
@layout BaseLayout

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

@*<div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>*@

@*@code
    {
        // Use this to determine which razor page is being loaded
        public Type PageType { get; set; }

        protected override void OnParametersSet()
        {
            PageType = (this.Body.Target as RouteView)?.RouteData.PageType;
            var RouteValues = (this.Body.Target as RouteView)?.RouteData.RouteValues;
            Console.WriteLine("This is your type (current type)" + PageType);
        }
    }*@
